/**
 * This file provides styles for the TOC (table of contents), the
 * sitemap (?do=index) and backlinks (?do=backlink).
 */

/* toc
********************************************************************/

/* toc container */

div.dokuwiki #dw__toc {
  margin: 1.2em 0 0 2em;
  float: right;
  width: 200px;
  font-size: 80%;
  clear: both;
}

/*____________ toc header ____________*/

div.dokuwiki .toggle.open,
div.dokuwiki .toggle.closed {
    background-color: __background_alt__;
    border: 1px solid __background_alt__;
}

#dw__toc h3 /* new */ {
    padding: .2em .5em;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1em;
}

#dw__toc h3 strong /* new */ {
    float: right;
    line-height: 1;
}

/* ---------- table of contents ------------------- */

div.dokuwiki .toc {
  border: 1px solid __border__;
  background-color: __background__;
  text-align: left;
  padding: 0.5em 0 0.7em 0;
}

div.dokuwiki ul.toc {
  list-style-type: none;
  list-style-image: none;
  line-height: 1.2em;
  padding-left: 1em;
  margin: 0;
}

div.dokuwiki ul.toc ul {
  border: none;
}

div.dokuwiki ul.toc div.li {
  padding-left: 0.4em;
}

div.dokuwiki ul.toc li {
  background: transparent url(images/tocdot2.gif) 0 0.6em no-repeat;
  padding-left: 0.4em;
}

div.dokuwiki a.toc:link,
div.dokuwiki a.toc:visited {
  color: __existing__;
}

div.dokuwiki a.toc:hover,
div.dokuwiki a.toc:active {
  color: __text__;
}

/* in case of toc list jumping one level
  (e.g. if heading level 3 follows directly after heading level 1) */
.dokuwiki #toc__inside ul li.clear, /* old */
#dw__toc ul li.clear /* new */ {
}


/* sitemap (and backlinks)
********************************************************************/

.dokuwiki ul.idx {
    padding-left: 0;
}
[dir=rtl] .dokuwiki ul.idx {
    padding-right: 0;
}
.dokuwiki ul.idx li {
    list-style-image: url(images/bullet.png);
    /*
    @deprecated, change since Adora Belle:
    list-style-image: url(../../images/bullet.png);
    */
}
.dokuwiki ul.idx li.open {
    list-style-image: url(images/open.png);
    /*
    @deprecated, change since Adora Belle:
    list-style-image: url(../../images/open.png);
    */
}
.dokuwiki ul.idx li.closed {
    list-style-image: url(images/closed.png);
    /*
    @deprecated, change since Adora Belle:
    list-style-image: url(../../images/closed.png);
    */
}
[dir=rtl] .dokuwiki ul.idx li.closed {
    list-style-image: url(images/closed-rtl.png);
    /*
    @deprecated, change since Adora Belle:
    list-style-image: url(../../images/closed-rtl.png);
    */
}
