/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */

.headings {
    margin-left: 10px;
}

.headings img {
    max-width: 300px;
}

div.wrapper {
    background-color: __background__;
    opacity: 0.95;
}

#dokuwiki__header {
    background-color: __background__;
}

.dokuwiki.site {
    border: solid 1px __pism_logo_dark__;
}

body {
    background: url(images/grn1km_speed.png) 0px -15px no-repeat;
}

/* header
********************************************************************/

#dokuwiki__header {
    margin: 0;
}
#dokuwiki__header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
}
#dokuwiki__header h1 a {
    text-decoration: none;
    color: __existing__;
    background-color: inherit;
}
#dokuwiki__header p.claim {
    margin-bottom: 0;
}
#dokuwiki__header h2 {
    margin-bottom: 0;
    font-size: 1.125em;
}

#dokuwiki__header .tools {
    margin-bottom: 2.1em;
}
#dokuwiki__header .tools ul {
    margin-bottom: 0;
}
#dokuwiki__header .tools ul li {
    display: inline;
}

#dokuwiki__header form.search {
    margin: .5em 0 0;
    display: block;
}
#dokuwiki__header form.search #qsearch__in {
    width: 12em;
    margin-right: .5em;
}

/* tools
********************************************************************/

.dokuwiki__tools {
    height: 25px;
    margin-bottom: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

#add_border {
    border-bottom: dotted 1px __border__;
}

.dokuwiki__tools li {
    display: inline;
}

.dokuwiki__tools a {
    padding: 1px 10px 3px 18px;
}

.dokuwiki__tool_right {
    float: right;
}

.dokuwiki__tool_left {
    float: left;
}

#dokuwiki__tools_flushleft {
    text-align: left;
}

#dokuwiki__tools_flushright {
    text-align: right;
}

#dokuwiki__tools_back_to_top {
    text-align: right;
    padding-bottom: 0.5em;
    padding-top: 2em;
    margin-right: 15px;
    border: none;
}

.dokuwiki__tools a.edit,
.dokuwiki__tools a.create {
  background: transparent url(images/tool-edit.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.show {
  background: transparent url(images/tool-source.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.revs {
  background: transparent url(images/tool-revisions.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.media,
.dokuwiki__tools a.admin {
  background: transparent url(images/tool-admin.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.profile {
  background: transparent url(images/tool-profile.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.login {
  background: transparent url(images/tool-login.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.logout {
  background: transparent url(images/tool-logout.png) 0px 1px no-repeat;
}

.dokuwiki__tools a.top {
  background: transparent url(images/tool-top.png) 0px 1px no-repeat;
}

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

/* content
********************************************************************/

.dokuwiki .page {
    word-wrap: break-word;
}

/* footer
********************************************************************/

div.footerinc {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: __pism_logo_dark__;
    color: #fff;
}

div.footerinc a:link,
div.footerinc a:visited {
    color: #fff;
}

/* ---------- Top Navigation ----------- */
*+ html div.dokuwiki div#tpl_simple_navi {
  background-color: __pism_logo_dark__;
  height: 2.em;
}

div.dokuwiki div#tpl_simple_navi ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}

div.dokuwiki div#tpl_simple_navi ul li {
  float: left;
  border: solid 1px #fff;
  border-top: none;
  border-bottom: none;
  width: __navi_link_width__;
  background-color: __pism_logo_dark__;
}

div.dokuwiki div#tpl_simple_navi a {
    color: #fff !important;
    display: block;
    text-decoration: none;
    border-bottom: none;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
}

div.dokuwiki div#tpl_simple_navi a:hover {
    background-color: __pism_logo_light__;
}

div.dokuwiki div#tpl_simple_navi a.wikilink2 {
  border-bottom: none !important;
}

div.dokuwiki div#tpl_simple_navi a.urlextern,
div.dokuwiki div#tpl_simple_navi a.interwiki {
  padding: 0;
  padding: 0.4em;
  padding-left: 0.8em;
  background-image: none;
}

div.dokuwiki div#tpl_simple_navi li {
  margin: 0;
  padding: 0;
  position: relative;
}

div.dokuwiki div#tpl_simple_navi ul ul {
  border: none;
  position: absolute;
  z-index: 500;
}

div.dokuwiki div#tpl_simple_navi ul ul ul {
  top: 0;
  left: 100%;
  border-left: 5px solid __border__;
  margin-top: 5px;
}

div.dokuwiki div#tpl_simple_navi ul ul,
div.dokuwiki div#tpl_simple_navi ul li:hover ul ul,
div.dokuwiki div#tpl_simple_navi ul ul li:hover ul ul {
  display: none;
}

div.dokuwiki div#tpl_simple_navi ul li:hover ul,
div.dokuwiki div#tpl_simple_navi ul ul li:hover ul,
div.dokuwiki div#tpl_simple_navi ul ul ul li:hover ul {
  display: block;
}

div.dokuwiki .navi_clearer {
  clear: both;
  margin-bottom: 1.8em;
}
